<%inherit file="base.html"/>

<%block name="bodycontent">
    <p class="title">echo-spot.com</p>
    
    <p>Echo-spot is a tool to build better playlists in Spotify. I built it because I was dissatisfied with the built-in artist "radio" offering. Echo-spot uses <a href="http://the.echonest.com">The Echo Nest</a>'s API to generate a playlist similar to a seed artist (or song) then it resolves the songs in the playlist using the spotify metadata API and creates a spotify playlist using the C "libspotify" API. The end result is a link you can click to open the playlist inside the spotify app.</p>
    
    <p class="image"><a href="/static/images/echospot.png"><img class="image" title="spot" src="/static/images/echospot_small.jpg" /></a></p>
    
    <p>Echo-spot generates playlists that are much more diverse than spotify's built-in ones. If you love finding new music that's probably a good thing, but if you're after a very specific sound you might not like it. I hope to expose an interface in the web app soon to enable tweaking the quality of playlists, but in the mean time all the code is open source and available on github at: <a href="https://github.com/tylerwilliams/echo-spot.com">https://github.com/tylerwilliams/echo-spot.com</a>.</p>
    
    <p>Try it at live at: <a href="http://echo-spot.com">echo-spot.com</a></p>
    
</%block>