<%inherit file="base.html"/>

<%block name="bodycontent">
    <p>A homopolar motor kit I made as a christmas present for some of my engineering-type friends.</p>
    
    <p class="image"><a href="/static/images/1pane_horiz1.png"><img class="aligncenter size-full wp-image-79" title="1pane_horiz1" src="/static/images/1pane_horiz1_small.jpg" alt="1pane_horiz1"/></a></p>
    
    <p>Here's how they work:</p>
    
    <ul class="list">
        <li>- Current flows down through the screw, *radially* outward through the magnet, and back up the wire into the battery.</li>
        <li>- The magnetic field from the magnet is vertically aligned through the magnet's axis of symmetry.</li>
        <li>- The charges running through the wire (current) feel a force perpendicular to both their direction and the direction of the magnetic field, ie, a tangential force. (this is called a <a href="http://en.wikipedia.org/wiki/Lorentz_force">Lorentz force</a>) This torque makes the screw and magnet spin.</li>
    </ul>
</%block>