<%inherit file="base.html"/>

<%block name="bodycontent">
    <p class="title">Miscellany</p>
    
    <p>Various works in progress.</p>
    
    <p class="image"><a href="/static/images/fpbox.jpg"><img class="image" title="spot" src="/static/images/fpbox.jpg" /></a></p>
    <p class="image"><a href="/static/images/wirewrap.jpg"><img class="image" title="spot" src="/static/images/wirewrap_small.jpg" /></a></p>
    
    <p>FPBox is a beagleboard listening to and fingerprinting live audio, then scrobbling it. After identifying a track it will download analysis and metadata for that track in order to modulate its own VU meter and display the track name on the LCD display.</p>
    
    <p class="image"><a href="/static/images/remix.png"><img class="image" title="spot" src="/static/images/remix_small.jpg" /></a></p>
    
    <p>Remix is a dynamic instrument that synthesizes new sounds from ambient noises and then allows a user to play them. It's built on a mini ITX computer inside a laser cut enclosure. The only interface is the 4x4 RGB button pad.</p>

    <p class="image"><a href="/static/images/mega128.png"><img class="image" title="spot" src="/static/images/mega128_small.jpg" /></a></p>
    
    <p>A usb controller for an <a href="http://www.sparkfun.com/products/681">LED Matrix</a>. This circuit was printed in an epson injet printer that I modified to print PCBs. I then baked and etched it.</p>
    
</%block>