<%inherit file="base.html"/>

<%block name="bodycontent">
    <p class="title">Miscellany</p>
    
    <p>Various works in progress.</p>
    
    <p class="image"><a href="/static/images/fpbox.jpg"><img class="image" title="spot" src="/static/images/fpbox_small.jpg" /></a></p>
    <p class="image"><a href="/static/images/wirewrap.jpg"><img class="image" title="spot" src="/static/images/wirewrap_small.jpg" /></a></p>
    
    <p>FPBox is a beagleboard listening to and fingerprinting live audio, then scrobbling it to last.fm. After identifying a track it will download analysis and metadata for that track in order to modulate its own VU meter and display the track name on the LCD display. I designed the controller and software for the meter and display, which is available <a href="https://github.com/tylerwilliams/meters">here</a>.</p>
    
    <p class="image"><a href="/static/images/remix.png"><img class="image" title="spot" src="/static/images/remix_small.jpg" /></a></p>
    
    <p>Remix is a dynamic instrument that synthesizes new sounds from ambient noises and then allows a user to play them. It's built on a mini ITX computer inside a laser cut enclosure. The only interface is the 4x4 RGB button pad and a microphone.</p>

    <p class="image"><a href="/static/images/mega128.png"><img class="image" title="spot" src="/static/images/mega128_small.jpg" /></a></p>
    
    <p>A usb controller for an <a href="http://www.sparkfun.com/products/681">LED Matrix</a>. This circuit was printed in an epson inkjet printer that I modified to print PCBs. I then baked and etched it.</p>

##    <p class="image"><script src="https://gist.github.com/1542383.js?file=binaural.py"></script></p>
    
    <p class="image"><object height="81" width="100%"> <param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F32023188"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F32023188" type="application/x-shockwave-flash" width="100%"></embed> </object>  <span><a href="http://soundcloud.com/tylerbw/binaural-440-0-450-0">Binaural 440.0 450.0</a> by <a href="http://soundcloud.com/tylerbw">tylerbw</a></span> </p>

    <p> An example of binaural beats. (best appreciated with headphones) The code I used to make this is available here: <a href="https://gist.github.com/1542383">https://gist.github.com/1542383</a></p>
    
</%block>