<%inherit file="base.html"/>

<%block name="bodycontent">
    <p class="title">Photographs and Video</p>
    
    <p class="image"><a href="/static/images/lightning_over_the_PO1.png"><img src="/static/images/lightning_over_the_PO1_small.jpg" /></a></p>
    
    <p class="image">Lightning over the Central Square Post Office</p>
    
    <p class="image"><a href="/static/images/simultaneous_flashes.jpg"><img src="/static/images/simultaneous_flashes_small.jpg" /></a></p>
    
    <p class="image">1/80th of a second</p>
        
    <p class="image"><iframe src="http://player.vimeo.com/video/34391010?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></p>
    
    <p class="image">Time lapse video showing the rotation of the earth</p>
    
    <p class="image"><iframe src="http://player.vimeo.com/video/3587927?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></p>
    
    <p class="image">Art and Activism in Cambridge, MA</p>
    
</%block>