<%inherit file="base.html"/>

<%block name="bodycontent">
    <p class="title">Trash Turbine</p>
    
    <p>In preperation for my trip to Mongolia, I was asked to prepare some kind of sensor project that could be built with limited materials and used with the XO laptop. After brainstorming with Dale Joachim at the Media Lab, I decided to build a small turbine to measure water flow.</p>

    <p>Originally I tried something that would generate a small current using coils and magnets, but those materials aren't always easy to find. (especially in a place like the <a href="http://lightworks.mit.edu/gobi_07_2008/">Gobi</a>) My second design uses a plastic bottle, pop can, shis-kabob stick (or any straight stick really), straw, and a little wire.</p>

    <p class="image"><iframe src="http://player.vimeo.com/video/34352967?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></p>

    <p>You can see the LED never goes out completely, that's because the contacts are exposed and a small amount of current is flowing between them, through the water, to light up the LED. Despite this, the signal can be filtered in software to get a nice pulse train allowing you to measure the rotor rpm, and from that the corresponding water flow rate.</p>

</%block>